*
!.gitignore

# formatting tools
!_ColumnBreak_
!_PageBreak_

# public domain songs
!AllHailThePower.tex
!AmazingGrace.tex
!AMightyFortressIsOurGod.tex
!BeThouMyVision.tex
!CrownHimWithManyCrowns.tex
!HolyHolyHoly.tex
!SolidRock.tex
!WhatAFriendWeHaveInJesus.tex
