*
!.gitignore

# formatting tools
!___ColumnBreak___
!___PageBreak___

# public domain songs
!AllHailThePower.txt
!AmazingGrace.txt
!AMightyFortressIsOurGod.txt
!BeThouMyVision.txt
!CrownHimWithManyCrowns.txt
!HolyHolyHoly.txt
!SolidRock.txt
!WhatAFriendWeHaveInJesus.txt
