*
!.gitignore

# formatting tools
!---ColumnBreak---
!---PageBreak---

# public domain songs
!AllHailThePower.tex
!AmazingGrace.tex
!AMightyFortressIsOurGod.tex
!BeThouMyVision.tex
!CrownHimWithManyCrowns.tex
!HolyHolyHoly.tex
!SolidRock.tex
!WhatAFriendWeHaveInJesus.tex
